<card
    class="relative h-auto border-2 border-neon-blue rounded-[1.5em] bg-neon-blue/5 text-white font-nunito p-[1.5em] flex justify-center items-left flex-col gap-[1em] hover:backdrop-blur-sm hover:shadow-xl hover:shadow-neon-blue/10 transition-all duration-500 group/card hover:scale-[1.02] overflow-hidden"
>
    <div class="relative z-20 bg-neon-blue/10 p-2 flex justify-start w-12 rounded-lg">
        <svg width="34px" height="34px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M7 10.0288C7.47142 10 8.05259 10 8.8 10H15.2C15.9474 10 16.5286 10 17 10.0288M7 10.0288C6.41168 10.0647 5.99429 10.1455 5.63803 10.327C5.07354 10.6146 4.6146 11.0735 4.32698 11.638C4 12.2798 4 13.1198 4 14.8V16.2C4 17.8802 4 18.7202 4.32698 19.362C4.6146 19.9265 5.07354 20.3854 5.63803 20.673C6.27976 21 7.11984 21 8.8 21H15.2C16.8802 21 17.7202 21 18.362 20.673C18.9265 20.3854 19.3854 19.9265 19.673 19.362C20 18.7202 20 17.8802 20 16.2V14.8C20 13.1198 20 12.2798 19.673 11.638C19.3854 11.0735 18.9265 10.6146 18.362 10.327C18.0057 10.1455 17.5883 10.0647 17 10.0288M7 10.0288V8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8V10.0288" stroke="#00c4d6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: var(--darkreader-text-00c4d6, #36eeff);"></path> </g></svg>
    </div>

    <div
        class="absolute inset-0 z-10 bg-gradient-to-br from-neon-blue/10 via-neon-blue/40 to-transparent opacity-0 group-hover/card:opacity-100 transition-opacity duration-500 rounded-[1.5em]"
    ></div>

    <div class="absolute top-4 right-4 z-20 flex gap-2">
        <div class="w-2 h-2 rounded-full bg-skye-300/50"></div>
        <div class="w-2 h-2 rounded-full bg-skye-300/30"></div>
        <div class="w-2 h-2 rounded-full bg-skye-300/10"></div>
    </div>

    <div
        class="relative z-20 transition-transform duration-300 group-hover/card:translate-y-[-2px] space-y-3"
    >
        <h1
            class="text-2xl font-bold bg-gradient-to-r from-white via-skye-100 to-blue-200 bg-clip-text text-transparent"
        >
            Secure Authentication
        </h1>

        <p class="text-[0.9em] text-purple-100/90 leading-relaxed font-light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolorum
            blanditiis pariatur sequi magni.
        </p>
    </div>
</card>
