---
export interface Props {
    color?: string;
    py?: string;
    px?: string;
    size?: string;
    className?: string;
    float?: boolean;
}

const {
    color = 'text-white',
    py = 'py-4',
    px = 'px-6',
    size = 'text-sm',
    className,
    float = false
} = Astro.props;
---

<td class={`whitespace-nowrap ${size} ${color} ${py} ${float ? 'px-4': px } ${className} ${float ? 'text-center sticky right-0 z-10 bg-dark-blue/90 backdrop-blur-sm shadow-[-4px_0_5px_rgba(0,0,0,0.3)]' : ''}`}>
    <slot />
</td>