---
import Layout from '../layouts/Layout.astro';

const { session } = Astro.locals;
console.log('游 ~ file: signin.astro:7 ~ session:', session)

// Solo redireccionar si hay sesi칩n, dejar que se muestre la p치gina si no hay sesi칩n
if ( !session ) {
    console.log('Hay sesi칩n, redirigiendo a /dashboard');
    return Astro.redirect('/signin');
}
---
<Layout title="Documentation - GuardianApi">

    <h1>Dashboard</h1>
</Layout>