---
import { getSession } from 'auth-astro/server';


import Layout               from '@/layouts/Layout.astro';
import SideBar              from '@/components/dashboard/SideBar.astro';
import OverviewSection      from '@/components/dashboard/overview/OverviewSection.astro';
import AttributesSection    from '@/components/dashboard/attributes/AttributesSection.astro';
import SecretSection        from '@/components/dashboard/secrets/SecretSection.astro';
import RoleSection          from '@/components/dashboard/roles/RoleSection.astro';
import UserSectionWrapper   from '@/components/dashboard/users/UserSectionWrapper.svelte';


const session = await getSession( Astro.request );


if ( !session ) {
    return Astro.redirect( '/signin' );
}


const activeSection = Astro.url.searchParams.get( 'section' ) || 'overview';
---

<Layout title="Dashboard - GuardianApi">
    <div class="flex h-screen bg-dark-blue/30 overflow-hidden">
        <!-- Sidebar -->
        <SideBar {activeSection} {session} />

        <!-- Main Content -->
        <div class="flex-1 overflow-y-auto mt-14">
            <div class="p-6">
                {activeSection === 'overview'   && <OverviewSection /> }
                {activeSection === 'users'      && <UserSectionWrapper client:only="svelte" /> }
                <!-- {activeSection === 'attributes' && <AttributesSection /> } -->
                <!-- {activeSection === 'secrets'    && <SecretSection /> } -->
                <!-- {activeSection === 'roles'      && <RoleSection />} -->
            </div>
        </div>
    </div>
</Layout>