---
import { getSession } from 'auth-astro/server';


import Layout               from '@/layouts/Layout.astro';
import SideBar              from '@/components/dashboard/SideBar.astro';
import OverviewSection      from '@/components/dashboard/overview/OverviewSection.astro';
import AttributeWrapper     from '@/components/dashboard/attributes/AttributeWrapper.svelte';
import SecretSection        from '@/components/dashboard/secrets/SecretSection.astro';
import RoleWrapper          from '@/components/dashboard/roles/RoleWrapper.svelte';
import UserWrapper          from '@/components/dashboard/users/UserWrapper.svelte';


const session = await getSession( Astro.request );


if ( !session ) {
    return Astro.redirect( '/signin' );
}


const activeSection = Astro.url.searchParams.get( 'section' ) || 'overview';
---

<Layout title="Dashboard - GuardianApi">
    <div class="flex h-screen bg-dark-blue/30 overflow-hidden">
        <!-- Sidebar -->
        <SideBar {activeSection} {session} />

        <!-- Main Content -->
        <div class="flex-1 overflow-y-auto mt-14 p-6">
            <!-- <div class="p-6"> -->
                { activeSection === 'overview'   && <OverviewSection /> }
                { activeSection === 'users'      && <UserWrapper client:only="svelte" /> }
                { activeSection === 'attributes' && <AttributeWrapper client:only="svelte" /> }
                <!-- {activeSection === 'secrets'    && <SecretSection /> } -->
                { activeSection === 'roles'      && <RoleWrapper client:only="svelte" /> }
            <!-- </div> -->
        </div>
    </div>
</Layout>
