---
import Layout from '@/layouts/Layout.astro';
// import SigninForm from '@/components/signin/SigninForm.svelte';
import { getSession } from 'auth-astro/server';
import NeonButton from '@/components/buttons/NeonButton.astro';
import GitHubIcon from '@/icons/GitHubIcon.astro';
import GoogleIcon from '@/icons/GoogleIcon.astro';
import { SignInService } from '@/services/signin'

const session = await getSession( Astro.request );
const provider = Astro.cookies.get( 'auth_provider' )?.value || 'unknown';

if ( session ) {
    if ( provider === 'unknown' ) return Astro.redirect( '/error' );

    try {
        const response = await SignInService.signIn( session, provider );

        Astro.cookies.set( 'token', response.token, {
            httpOnly    : true,
            secure      : true,
            sameSite    : 'strict',
            maxAge      : 60 * 60 * 24, // TODO: Poner la expiracin correcta
        });

        Astro.cookies.set( 'csrfToken', response.csrfToken, {
            httpOnly: false, // Permitir que el frontend lo lea
            secure: true, // Requerido para cross-origin
            sameSite: 'none', // Necesario para cross-origin
            maxAge: 60 * 60 * 24, // Igual que el JWT
            path: '/', // Asegura que esté disponible en todas las rutas
        });

        return Astro.redirect( '/dashboard' );
    } catch ( error ) {
        return Astro.redirect( '/error' );
    }
}
---

<Layout title="Sign In - GuardianApi">
    <section class="min-h-screen mx-auto flex items-center justify-center px-4 py-24">
        <div class="w-full mx-auto max-w-md bg-dark-blue/50 p-8 rounded-lg border border-neon-blue/20 animate-fade-in">
            <h2 class="text-3xl font-orbitron text-neon-blue text-center mb-8 flex items-center gap-2 justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="36" stroke-dashoffset="36" d="M13 4l7 0c0.55 0 1 0.45 1 1v14c0 0.55 -0.45 1 -1 1h-7"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.5s" values="36;0"/></path><path stroke-dasharray="14" stroke-dashoffset="14" d="M3 12h11.5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="14;0"/></path><path stroke-dasharray="6" stroke-dashoffset="6" d="M14.5 12l-3.5 -3.5M14.5 12l-3.5 3.5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.8s" dur="0.2s" values="6;0"/></path></g></svg>
                Sign In
            </h2>

            <div class=" space-y-4">
                <div class="flex items-center w-full">
                    <hr class="w-full border-galaxy-blue">
                    <span class="text-gray-300 mb-2 w-full flex justify-center">Sign in with</span>
                    <hr class="w-full border-galaxy-blue">
                </div>

                <div class="grid grid-cols-2 gap-2">
                    <NeonButton id="login-github">
                        GitHub
                        <GitHubIcon />
                    </NeonButton>

                    <NeonButton id="login-google">
                        Google
                        <GoogleIcon />
                    </NeonButton>
                </div>

                <div class="flex items-center gap-2">
                    <hr class="w-full border-galaxy-blue" />
                    <span class="text-gray-300 mb-2">Or</span>
                    <hr class="w-full border-galaxy-blue" />
                </div>
            </div>

            <p class="text-center text-gray-400">
                Don't have an account?

                <a href="/signup" class="text-neon-blue hover:underline">Sign Up</a>
            </p>
        </div>
    </section>
</Layout>

<script>
    import { $ } from '@/lib/dom-selector'

    const { signIn }    = await import( 'auth-astro/client' );
    const $loginGithub  = $( '#login-github' );
    const $loginGoogle  = $( '#login-google' );

    function setProviderCookie( provider: string ) {
        document.cookie = `auth_provider=${provider}; path=/; max-age=300; secure; sameSite=strict`;
    }

    if ( $loginGithub ) {
        $loginGithub.onclick = () => {
            setProviderCookie( 'github' );
            signIn( 'github' );
        };
    }

    if ( $loginGoogle ) {
        $loginGoogle.onclick = () => {
            setProviderCookie( 'google' );
            signIn( 'google' );
        };
    }
</script>
