---
import { getSession } from 'auth-astro/server';

import Logout from '@/components/auth/Logout.astro';


const session = await getSession( Astro.request );

const navItems = [
    { name: 'Home',             path: '/' },
    { name: 'Documentation',    path: '/docs' },
    { name: 'Pricing',          path: '/pricing' },
    { name: 'Sign In',          path: '/signin', hidden: session },
    { name: 'Sign Up',          path: '/signup', hidden: session },
];
---

<nav class="fixed w-full z-50 bg-dark-blue/80 backdrop-blur-md" transition:persist>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <a href="/" class="text-neon-blue font-orbitron text-2xl font-bold flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" fill-opacity="0" stroke="currentColor" stroke-dasharray="64" stroke-dashoffset="64" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2l-9 3.5v6.5c0 3.5 3.5 9 8 10c4.5 -1 8 -6.5 8 -10v-6.5l-8 -3.5Z"><animate fill="freeze" attributeName="fill-opacity" begin="0.7s" dur="0.15s" values="0;0.3"/><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="64;0"/></path></svg>
                    GuardianApi
                </a>
            </div>

            <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                {
                    navItems.map((item) => (
                        !item.hidden && (
                            <a
                                href={item.path}
                                class="text-gray-300 hover:text-neon-blue px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300"
                            >
                                {item.name}
                            </a>
                        )
                    ))
                }

                { session && (
                    <div class="flex items-center">
                        <a
                            href="/dashboard"
                            class="text-gray-300 hover:text-neon-blue px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300"
                        >
                            Dashboard
                        </a>

                        <Logout class="text-gray-300 hover:text-neon-blue px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300"/>
                    </div>
                )}
                </div>
            </div>
        </div>
    </div>
</nav>