---
import type { Session } from '@auth/core/types';
// Icons
import OverviewIcon     from '@/icons/OverviewIcon.astro';
import UsersIcon        from '@/icons/UsersIcon.astro';
import AttributesIcon   from '@/icons/AttributesIcon.astro';
import SecretIcon       from '@/icons/SecretIcon.astro';
import RoleIcon         from '@/icons/RoleIcon.astro';
import MenuIcon         from '@/icons/MenuIcon.astro';
import ConfigIcon       from '@/icons/ConfigIcon.astro';
// Components
import Logout from '@/components/auth/Logout.astro';

const activeSection = Astro.url.pathname.split( '/' ).pop() || 'overview';
const session       = Astro.locals.session as Session;
const sidebarItems  = [
    { id: 'overview',           name: 'Overview',               icon: OverviewIcon },
    { id: 'users',              name: 'Users',                  icon: UsersIcon },
    { id: 'attributes',         name: 'User Attributes',        icon: AttributesIcon },
    { id: 'secrets',            name: 'API Secrets',            icon: SecretIcon },
    { id: 'roles&permissions',  name: 'Roles & Permissions',    icon: RoleIcon },
    { id: 'groups',             name: 'Groups',                 icon: RoleIcon },
];
---

<aside class="hidden w-14 lg:w-64 bg-dark-blue/70 border-r border-neon-blue/20 sm:flex flex-col mt-12 transition-all duration-100">
    <header class="p-4 border-b border-neon-blue/20 flex justify-between items-center">
        <h2 class="text-2xl font-orbitron text-neon-blue flex items-center gap-2">
            <MenuIcon />

            <span class="hidden lg:block">
                Menu <span class="text-white">Api</span>
            </span>
        </h2>

        <button
            class=" bg-dark-blue hover:bg-neon-blue/20 rounded-full mt-0.5 border border-neon-blue/50 text-neon-blue"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-dasharray="10" stroke-dashoffset="10" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l5 -5M9 12l5 5"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="10;0"/></path></svg>
        </button>
    </header>

    <section class="overflow-y-auto flex-grow">
        <nav class="mt-4">
            <ul>
                {sidebarItems.map(item => (
                    <li class="mb-2">
                        <a 
                            href    = { `/dashboard/${item.id}` }
                            class   = { `flex items-center px-4 py-3 text-sm transition-colors duration-300 ${activeSection === item.id ? 'bg-neon-blue/10 text-neon-blue border-l-2 border-neon-blue' : 'text-gray-300 hover:bg-neon-blue/5 hover:text-neon-blue'}` }
                        >
                            <span class="flex items-center mr-3">
                                {<item.icon />}
                            </span>

                            <span class="hidden lg:block">
                                {item.name}
                            </span>
                        </a>
                    </li>
                ))}
            </ul>
        </nav>
    </section>

    <footer class="p-2 py-4 lg:p-4 border-t border-neon-blue/20 space-y-6 lg:space-y-4">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                {session && (
                    <a href="/account" class="ml-1 lg:ml-0">
                        <img
                            src     = { session.user?.image }
                            alt     = { session.user?.name || 'User' }
                            class   = "w-8 h-8 rounded-full mx-auto lg:mx-0"
                        />
                    </a>

                <div class="hidden lg:block lg:ml-3">
                    <p class="text-sm font-medium text-white truncate">{session.user?.name || 'User'}</p>
                    <p class="text-xs text-gray-400 truncate">{session.user?.email || ''}</p>
                </div>
                )}

            </div>

            <a href="/account" class="hidden lg:block bg-neon-blue/10 p-1 rounded-full hover:bg-neon-blue/5 hover:text-neon-blue">
                <ConfigIcon/>
            </a>
        </div>

        <Logout class="lg:px-4 lg:py-2 bg-dark-blue hover:bg-neon-blue/20 rounded-md transition-colors duration-300"/>
    </footer>
</aside>

<aside class="fixed sm:hidden w-full h-12 bottom-0 bg-dark-blue/90 border-t border-neon-blue/20 ">
    <nav class="flex gap-2 items-center justify-center">
        {sidebarItems.map(item => (
            <a 
                href    = { `/dashboard/${item.id}` }
                class   = { `flex items-center px-4 py-3 text-sm transition-colors duration-300 ${activeSection === item.id ? 'bg-neon-blue/10 text-neon-blue border-t-2 border-neon-blue' : 'text-gray-300 hover:bg-neon-blue/5 hover:text-neon-blue'}` }
            >
                <span class="flex items-center justify-center">
                    {<item.icon />}
                </span>
            </a>
        ))}
<!-- 
        <a href="/account">
            <img
                src     = { session.user?.image }
                alt     = { session.user?.name || 'User' }
                class   = "w-6 h-6 rounded-full ml-2"
            />
        </a> -->
    </nav>
</aside>
