---
import FeatureCard from "../cards/FeatureCard.astro";

// const features = [
//     {
//       icon: <Lock class="h-10 w-10 text-primary" />,
//       title: "Secure Authentication",
//       description: "Industry-standard security protocols to keep user data safe and protected.",
//     },
//     {
//       icon: <Key class="h-10 w-10 text-primary" />,
//       title: "Multi-factor Auth",
//       description: "Add an extra layer of security with SMS, email, or app-based verification.",
//     },
//     {
//       icon: <UserCheck class="h-10 w-10 text-primary" />,
//       title: "Social Login",
//       description: "Seamless integration with popular social platforms for quick user onboarding.",
//     },
//     {
//       icon: <RefreshCw class="h-10 w-10 text-primary" />,
//       title: "Token Management",
//       description: "Automatic refresh tokens and session management for continuous security.",
//     },
//     {
//       icon: <Zap class="h-10 w-10 text-primary" />,
//       title: "Fast Integration",
//       description: "Simple API endpoints that integrate with any frontend or backend technology.",
//     },
//     {
//       icon: <Server class="h-10 w-10 text-primary" />,
//       title: "Scalable Infrastructure",
//       description: "Built to handle millions of authentication requests with minimal latency.",
//     },
//   ]
---

<section class="py-24 bg-neon-blue/5 relative">
    <div class="container mx-auto px-4 relative ">
        <h2 class="text-3xl md:text-4xl font-bold mb-4 space-y-5 text-center">
            <span>
                Everything you need for{" "}
            </span>

            <span class="bg-clip-text text-neon-blue bg-gradient-to-r from-primary to-secondary ">
                Authentication
            </span>
        </h2>

        <p class="text-muted-foreground text-lg text-center">
            GuardianApi provides a complete suite of authentication tools to secure your application and manage user
            identities.
        </p>

        <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-10 items-center mt-10">
            <FeatureCard />
            <FeatureCard />
            <FeatureCard />
            <FeatureCard />
            <FeatureCard />
            <FeatureCard />
        </div>
    </div>
</section>